<h1>Register for Safe Walk!</h1>

<div class="errors" style="display:inline;">
  <% @user.errors.messages.values.each do |message| %>
    <%= message.first %>
  <% end %>
</div>

<%= form_for @user, url: "/users", html: {class: "register-form"} do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email_address %>
    <%= f.email_field :email_address, autofocus: true %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <%= f.hidden_field :id %>
  <div>
    <%= f.submit %>
  </div>
<% end %>