<!DOCTYPE html>
<html>
<head>
  <title>SafeWalk</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <title>Safe Walk</title>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <meta charset="utf-8">

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNQurCEYO2Zcx4GsuHJ7eCdMZOSeG4II0"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script>
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();

    function initialize() {
      directionsDisplay = new google.maps.DirectionsRenderer();
      var mapOptions = {
        zoom: 7,
        center: new google.maps.LatLng(41.850033, -87.6500523)
      };
      var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
      directionsDisplay.setMap(map);
      directionsDisplay.setPanel(document.getElementById('directions-panel'));

      var control = document.getElementById('control');
      control.style.display = 'block';
      map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);
    }

    function calcRoute() {
      var start = document.getElementById('start').value;
      var end = document.getElementById('end').value;
      var request = {
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode.WALKING
      };
      directionsService.route(request, function (response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
          var contentRight = document.getElementById('content-right');
          contentRight.style.display = 'block';
          contentRight.style.background = '#f4f4f4';
        }
      });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>

<body>
<div class="header">
  <div class="header-content">
    <h1>SAFE WALK</h1>
  </div>

  <nav class="nav-content">
    <% if current_user %>
      <%= link_to "Home", maps_path %>
      <%= link_to "Logout", login_path(@user.id), :method => :delete %>
    <% else %>
      <%= link_to "Home", maps_path %>
    <% end %>
  </nav>


</div>

<div class="body-content">
  <%= yield %>

</div>


</body>
</html>


