<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="http://faviconist.com/icons/9453a20f3bd2048d4f94e6456f301c95/favicon.ico"/>
  <title>WalkSafe.ly</title>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDNQurCEYO2Zcx4GsuHJ7eCdMZOSeG4II0&libraries=places' %>
  <%= javascript_include_tag 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js' %>
  <%= javascript_include_tag "http://libs.cartocdn.com/cartodb.js/v3/cartodb.js" %>
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <title>Safe Walk</title>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <meta charset="utf-8">
</head>

<body>
<div class="container-fluid">
  <div class="row col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <h4><strong>WalkSafe.ly</strong></h4>
    </div>
    <div class="row col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
      <div id="severity_score"></div>
    </div>
    <div>
    </div>

  </div>



</div>


<%= yield %>


</body>
</html>


