<!DOCTYPE html>
<html>
<head>
  <title>SafeWalk</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
  <title>Safe Walk</title>


  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.css' rel='stylesheet'/>
</head>

<body>
<div class="header">
  <div class="header-content">
    <h1>SAFE WALK</h1>
  </div>
  <nav class="nav">
    <nav class="nav-content">
      <% if current_user %>
        <%= link_to "Home", maps_path %>
        <%= link_to "Logout", login_path(@user.id), :method => :delete %>
      <% else %>
        <%= link_to "Home", maps_path %>
      <% end %>
    </nav>
  </nav>

</div>


<div class="wrapper">
  <div id="content">
    <%= yield %>
  </div>
</div>


</body>
</html>


