<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="http://faviconist.com/icons/9453a20f3bd2048d4f94e6456f301c95/favicon.ico" />
  <title>WalkSafe.ly</title>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDNQurCEYO2Zcx4GsuHJ7eCdMZOSeG4II0' %>
  <%= javascript_include_tag 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js' %>
  <%= javascript_include_tag "http://libs.cartocdn.com/cartodb.js/v3/cartodb.js" %>
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <title>Safe Walk</title>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <meta charset="utf-8">
</head>

<body>
<div class="wrapper">
  <header class="header">
    <div id="severity_score"></div>
    <h3 class="logo"><strong>WalkSafe.ly</strong></h3>
  </header>
  <%= yield %>
</div>
</body>
</html>


