<!DOCTYPE html>
<html>
<head>
  <title>SafeWalk</title>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDNQurCEYO2Zcx4GsuHJ7eCdMZOSeG4II0' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <title>Safe Walk</title>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <meta charset="utf-8">

</head>

<body>
<div class="wrapper">
  <header class="header">
    <div class="logo">
      <h1>SAFE WALK</h1>
    </div>
    <nav class="navigation">
      <li><%= link_to "Home", root_path %></li>
    </nav>
  </header>


  <%= yield %>


</div>


</body>
</html>


